target/

# krita temp
*.kra~

# workflow make
positive_toolbox_*.zip

# build.rs make temp licenses file
#src/licenses.rs

# (python) venv
.venv

# (python) pyinstaller make
build/
dist/

# (rust) wasm-pack make
pkg/
