target/

# krita temp
**/*.kra~

# workflow make
positive_*_*.zip

# old build.rs make temp licenses file
# src/licenses.rs

# python
**/.venv/**
**/__pycache__/**
**/__pypy_cache__/**

# (python) pyinstaller make
build/
dist/

# (rust) wasm-pack make
pkg/

# python: tool cache
**/.ruff_cache/**
