# --- Rust ---

target/
# wasm-pack make
pkg/

# --- Python ---

# env
**/.venv/**
# cache
**/__pycache__/**
**/__pypy_cache__/**
**/.ruff_cache/**
# pyinstaller make
build/
dist/

# --- Other ---
# krita temp
**/*.kra~
# build computer script make
positive_*_*.zip
